<div class="bg-dark mt-5" id="inicio">
    <!-- header -->
    <header class="row text-center align-items-center header-main">
        <div class="col-md-7 text-white p-5">
            <!-- saludo -->
            <h1 class="display-2">
                <span class="d-block">Hola,</span>
                Soy Javier Vélez 👋
            </h1>
            <!-- trabajo -->
            <p class="text-muted fw-light mb-3">
                Soy un Apasionado por la Tecnología, con más de 3 años de experiencia en el mundo de la Programación y
                constantemente en aprendizaje, especializado en el Desarrollo de Software para plataformas web. <br>
                Freelance developer web & fullstack. 👨‍💻
            </p>
            <!-- boton de descarga -->
            <div class="d-md-block text-white mb-3">
                <a class="btn btn-success" href="../../../assets/docs/CV_JAVIER_VELEZ_LOOR.pdf"
                    download="CV_JAVIERVELEZLOOR">
                    Download CV
                </a>
            </div>
        </div>
        <div class="col-12 col-md-4 text-center">
            <div class="photo-frame position-relative shadow">
                <img src="../../../assets/img/portfolio/qqqq.webp" alt="Javier Vélez Loor" class="w-100 rounded">
            </div>
        </div>
    </header>
</div>