<div class="container">
    <section class="row text-center" id="portafolio">
        <!-- titulo -->
        <h2 class="display-4 tex-capitalize mt-5 mb-3" data-aos="fade-up">
            Portafolio
        </h2>
        <!-- tarjetas -->
        <div class="col-12 col-md-3 mt-3">
            <div class="card bg-white rounded shadow">
                <img src="../../../assets/img/proyectos/dashboard.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title mb-3">Dashboard Administrativo</h5>
                    <div class="card'text d-flex flex-wrap justify-content-evenly">
                        <h6><span class="badge bg-danger">Angular</span></h6>
                        <h6><span class="badge bg-success">Bootstrap</span></h6>
                        <h6><span class="badge bg-info">Css</span></h6>
                        <h6><span class="badge bg-success">MongoDB</span></h6>
                    </div>
                    <div class="text-white">
                        <a href="https://iniciopagina.netlify.app/#/inicio" class="btn btn-primary btn-sm mt-3">Ver
                            sitio
                            web...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 mt-3">
            <div class="card bg-white rounded shadow">
                <img src="../../../assets/img/proyectos/auth.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title mb-3">Auth Login</h5>
                    <div class="card'text d-flex flex-wrap justify-content-evenly">
                        <h6><span class="badge bg-danger">Angular</span></h6>
                        <h6><span class="badge bg-success">Bootstrap</span></h6>
                        <h6><span class="badge bg-info">Css</span></h6>
                        <h6><span class="badge bg-success">MongoDB</span></h6>
                    </div>
                    <div class="text-white">
                        <a href="https://auth-angular-curso.herokuapp.com/auth/login"
                            class="btn btn-primary btn-sm mt-3">Ver
                            sitio
                            web...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 mt-3">
            <div class="card bg-white rounded shadow">
                <img src="../../../assets/img/proyectos/smallapp.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title mb-3">Small App</h5>
                    <div class="card'text d-flex flex-wrap justify-content-evenly">
                        <h6><span class="badge bg-danger">Angular</span></h6>
                        <h6><span class="badge bg-success">Bootstrap</span></h6>
                        <h6><span class="badge bg-info">Css</span></h6>
                    </div>
                    <div class="text-white">
                        <a href="https://iniciopagina.netlify.app/#/inicio" class="btn btn-primary btn-sm mt-3">Ver
                            sitio
                            web...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 mt-3">
            <div class="card bg-white rounded shadow">
                <img src="../../../assets/img/proyectos/mapbox.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title mb-3">Mapas MapBox</h5>
                    <div class="card'text d-flex flex-wrap justify-content-evenly">
                        <h6><span class="badge bg-danger">Angular</span></h6>
                        <h6><span class="badge bg-success">Bootstrap</span></h6>
                        <h6><span class="badge bg-info">Librería MapBox</span></h6>
                    </div>
                    <div class="text-white">
                        <a href="https://mapboxmapas.netlify.app/mapas/zoom-range" target="_blank"
                            class="btn btn-primary btn-sm mt-3">Ver
                            sitio web...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 mt-3">
            <div class="card bg-white rounded shadow">
                <img src="../../../assets/img/proyectos/graficas.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title mb-3">Gráficas Reutilizables</h5>
                    <div class="card'text d-flex flex-wrap justify-content-evenly">
                        <h6><span class="badge bg-danger">Angular</span></h6>
                        <h6><span class="badge bg-success">Bootstrap</span></h6>
                        <h6><span class="badge bg-info">Librería ChartJs</span></h6>
                    </div>
                    <div class="text-white">
                        <a href="https://graficasreutilizables.netlify.app/graficas/barras"
                            class="btn btn-primary btn-sm mt-3">Ver sitio web...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 mt-3">
            <div class="card bg-white rounded shadow">
                <img src="../../../assets/img/proyectos/piano.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title mb-3">Piano</h5>
                    <div class="card'text d-flex flex-wrap justify-content-evenly">
                        <h6><span class="badge bg-danger">Angular</span></h6>
                        <h6><span class="badge bg-success">Bootstrap</span></h6>
                        <h6><span class="badge bg-info">Json Data</span></h6>
                    </div>
                    <div class="text-white">
                        <a href="https://angularpiano28.netlify.app/" class="btn btn-primary btn-sm mt-3">Ver sitio
                            web...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 mt-3">
            <div class="card bg-white rounded shadow">
                <img src="../../../assets/img/proyectos/tabla.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title mb-3">Filtro Tablas</h5>
                    <div class="card'text d-flex flex-wrap justify-content-evenly">
                        <h6><span class="badge bg-danger">Angular</span></h6>
                        <h6><span class="badge bg-success">Bootstrap</span></h6>
                        <h6><span class="badge bg-info">Json Data</span></h6>
                    </div>
                    <div class="text-white">
                        <a href="https://componentescomunicacion.netlify.app/#/" class="btn btn-primary btn-sm mt-3">Ver
                            sitio
                            web...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 mt-3">
            <div class="card bg-white rounded shadow">
                <img src="../../../assets/img/proyectos/ibm.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title mb-3">IBM Calculate</h5>
                    <div class="card'text d-flex flex-wrap justify-content-evenly">
                        <h6><span class="badge bg-danger">Angular</span></h6>
                        <h6><span class="badge bg-success">Bootstrap</span></h6>
                        <h6><span class="badge bg-info">Css3</span></h6>
                    </div>
                    <div class="text-white">
                        <a href="https://calculatorpeso.netlify.app/#/" class="btn btn-primary btn-sm mt-3">Ver
                            sitio
                            web...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 mt-3">
            <div class="card bg-white rounded shadow">
                <img src="../../../assets/img/proyectos/ccc.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title mb-3">Convertidor App</h5>
                    <div class="card'text d-flex flex-wrap justify-content-evenly">
                        <h6><span class="badge bg-danger">Angular</span></h6>
                        <h6><span class="badge bg-success">Bootstrap</span></h6>
                        <h6><span class="badge bg-info">Css3</span></h6>
                    </div>
                    <div class="text-white">
                        <a href="https://convertidorapp28.netlify.app/" class="btn btn-primary btn-sm mt-3">Ver
                            sitio
                            web...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 mt-3">
            <div class="card bg-white rounded shadow">
                <img src="../../../assets/img/proyectos/tareas.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title mb-3">App Tareas</h5>
                    <div class="card'text d-flex flex-wrap justify-content-evenly">
                        <h6><span class="badge bg-danger">Angular</span></h6>
                        <h6><span class="badge bg-success">Bootstrap</span></h6>
                        <h6><span class="badge bg-info">Css3</span></h6>
                        <h6><span class="badge bg-warning">Firebase</span></h6>
                    </div>
                    <div class="text-white">
                        <a href="https://apptareas28.netlify.app/" class="btn btn-primary btn-sm mt-3">Ver
                            sitio
                            web...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 mt-3">
            <div class="card bg-white rounded shadow">
                <img src="../../../assets/img/proyectos/dados.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title mb-3">Dados App</h5>
                    <div class="card'text d-flex flex-wrap justify-content-evenly">
                        <h6><span class="badge bg-danger">Angular</span></h6>
                        <h6><span class="badge bg-success">Bootstrap</span></h6>
                        <h6><span class="badge bg-info">Css3</span></h6>
                    </div>
                    <div class="text-white">
                        <a href="https://dadosappangular.netlify.app/" class="btn btn-primary btn-sm mt-3">Ver
                            sitio
                            web...</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>