<footer class="container-fluid text-center bg-dark">
    <div class="row pt-2">
        <div class="col">
            <h6><span class="text-white">Manta - Ecuador</span></h6>
        </div>
    </div>
    <div class="row pb-2">
        <div class="col">
            <a href="https://www.facebook.com/javier.loor1" target="_blank" class="m-2">
                <img src="../../../assets/img/icons/facebook-4.svg" width="25" alt="" srcset="">
            </a>
            <a href="https://twitter.com/JavierVelezLoo3" target="_blank" class="m-2">
                <img src="../../../assets/img/icons/twitter-6 (1).svg" width="25" alt="" srcset="">
            </a>
            <a href="https://github.com/28javier" target="_blank" class="m-2">
                <img src="../../../assets/img/icons/github-icon-1 (1).svg" width="25" alt="" srcset="">
            </a>
            <a href="https://www.youtube.com/channel/UCkAeIlNYcHPlbB4Z16U7-wg/featured" target="_blank" class="m-2">
                <img src="../../../assets/img/icons/youtube-icon (1).svg" width="25" alt="" srcset="">
            </a>
            <a href="https://www.linkedin.com/in/javier-v%C3%A9lez-loor-635548187/" target="_blank" class="m-2">
                <img src="../../../assets/img/icons/linkedin-icon-2.svg" width="25" alt="" srcset="">
            </a>
        </div>
    </div>
</footer>